*{
  margin-top: 0;
  }
  
  
  strong{
      font-size: 1.25rem;
  }
  .cardBackground{
    background:#0C359E;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
  .cardBackground:hover {
    transform: scale(1.05); 
  }
  .custom-select {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 300px; /* Adjust width as needed */
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .custom-select select {
    width: 60%;
    height: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  .custom-select::after {
    content: '\25BC'; /* Down arrow character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #6c757d;
  }
  /* forget password css */
  
  .container {
      background: #35374B;
      width: 400px;
      margin: 0 auto;
    }
    
    .form-group {
      margin-bottom: 1rem;
    }
    
    .form-label {
      font-weight: bold;
    }
    
    .form-control {
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
    }
    
    .btn-primary {
      width: 100%;
      padding: 0.75rem;
      background-color: #007bff;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 2rem;
    }
    
    .btn-primary:hover {
      background-color: #0056b3;
    }
    .ChangePassword{
      background: #35374B;
      height: 100vh;
    }
  
    /* home page css */
    .menuIcon{
      margin-top: 1rem;
    }
    .logo{
      height: 50px;
      width: 50px;
    }
    .profileSection{
      overflow: scroll;
    }

.userDetails{
  background-color: aqua;
  /* background: linear-gradient(0deg, rgba(145,132,236,1) 0%, rgba(16,15,126,1) 64%); */
  height: 120vh;
  backdrop-filter: blur(10px);
}

strong{
    font-size: 1.25rem;
}
.cardBackground{
  background:#0C359E;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
.cardBackground:hover {
  transform: scale(1.05); 
}
.custom-select {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 300px; /* Adjust width as needed */
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.custom-select select {
  width: 60%;
  height: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.custom-select::after {
  content: '\25BC'; /* Down arrow character */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #6c757d;
}
/* forget password css */

.container {
    background: #35374B;
    width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .btn-primary {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 2rem;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .ChangePassword{
    background: #35374B;
    height: 100vh;
  }

  /* home page css */
  .menuIcon{
    margin-top: 1rem;
  }
  .logo{
    height: 50px;
    width: 50px;
  }
  .homepage{
    background-color: #378CE7;
    height: 110vh;
  }
  .Navbar{
    display: flex;
    justify-content: space-between;
    background-color: orange;
  }
  .Navbar .adminName{
    margin-right: 450px;
  }
  .sidebar{

    height: 100vh;
  }
  .SideMenu{
    background-color: white;
  }

  .certificateDetails{
    background-color:#FFFFDD;
  }
  .inputColor{
    background-color: #81F5FF;
  }
  .certificateInput{
background-color: #C37857;
  }
  .skills{
    background-color: #C37857;
  }
  .skillsDetails{
    position: relative;

justify-content: center;
align-items: center;
background-color: #35374B;
  }
  .empID{
    color: rgb(175, 0, 0);
    background-color: #FEC260;
  }
  .searchBar{
    width: 50%;
    }
    .viewDataBackground{
      background-color: #35374B;
    }